# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.We-Love-You-Sweetie.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\inajo\Desktop\Github\We-Love-You-Sweetie\.idea\.idea.We-Love-You-Sweetie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
